<div class="projectExperience container">
    <hr>
    <div class="row ml-2">
        Projects where my creativity explored
    </div>
    <div class="row mt-1">
        <div class="col-md-4" style="border: 1px solid darkviolet;">
            <p class="titleProj"> <strong> nCovid Website </strong></p>
            <p class="titleDescp">
                With pandemic cribbing all over the world, the application
                allows the users to see the covid affected patients in India district
                wise. The website also provides the growth rate along with the
                recovery rate for all the states.The has been sourced from various entities.<br>

                For more information, visit our <a target="_blank" rel="noopener noreferrer"
                    href="https://indiancovid19.herokuapp.com/">website!</a>

            </p>
        </div>

        <div class="col-md-4" style="border: 1px solid darkviolet;">
            <p class="titleProj"> <strong> Fleet Management System </strong></p>
            <p class="titleDescp">
                Increase in number of vehicles, made the fleet management a
                serious headache for many people. The market equally holds
                different applications to manage the same, but will not help the
                small business owners to manage their fleet due to thier financial
                constraints. This lead to this free and opensource application,
                which is second phase.<br>
                For more information, visit our <a target="_blank" rel="noopener noreferrer"
                    href=" https://ramsfleetmanagement.herokuapp.com/">website!</a>


            </p>
        </div>


        <div class="col-md-4" style="border: 1px solid darkviolet;">
            <p class="titleProj"> <strong> Request Status </strong></p>
            <p class="titleDescp">
                Search Engine uses sitemap to crawl and index the website on
                their platform.Over the time the content in the sitemap may
                become obsolete. This project uses the python to verify whether
                the links present in the sitemap exist or not and exports the result
                to comma separated file.<br>

                For more information, visit our <a rel="noopener noreferrer" target="_blank"
                    href="https://github.com/senbagaraman04/RequestStatus"> codeBase!</a>

            </p>
        </div>


    </div>

    <div class="row mt-1">
            <div class="col-md-4" style="border: 1px solid darkviolet;">
                <p class="titleProj"> <strong> Crypto2k16 *</strong></p>
                <p class="titleDescp">
                        With colleges overflow with
                        Technical Symposium and
                        Webminars, we created a
                        Windows Mobile App for
                        Crypto2k16. The app worked as a
                        quick one stop solution for all the
                        details required for the
                        symposium hosted by Department
                        of Computer Science and
                        Engineering, Adhiyamaan College
                        of Engineering, Hosur, Tamilnadu
                        India.<br> <br><br>

                        *As Microsoft ended their support for Windows Phone, the
                        app has been removed from Windows store and source
                        code is available only in Github. <br> <br>
                    
                    For more information, visit our <a target="_blank" rel="noopener noreferrer"
                        href="https://github.com/senbagaraman04/crypto2k16">codebase!</a>
    
                </p>
            </div>

            </div>

            <div class="row mt-1 disclaimer">
                  
            </div>
</div>
<br>