<div class="container"  id="Certification" >
    <strong>Certificates: </strong>
</div>
<div class="certification container">
   

    <div class="certificate-earned">
        <div class=" ">
            <img src="https://images.credly.com/size/220x220/images/87eec792-3c63-4526-aafb-da866a30fa54/image.png"
                width="110" alt="" height="110">
            <div>
                <div style="max-height: 104px; -webkit-line-clamp: 4;">Multicloud Network Associate &nbsp;</div>
                <div style="max-height: 38px; -webkit-line-clamp: 2;">
                    <a href="https://www.credly.com/earner/earned/badge/6bf7483e-1250-481d-8399-d65264ad0ec6"
                        target="_blank">      Aviatrix
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="certificate-earned">
        <div class=" ">
            <img src="https://images.credly.com/size/220x220/images/0571ab1d-f43b-43d9-9c68-8ebd0ebd61b7/Python_for_Data_Sci_and_AI_Foundational.png"
                width="110" alt="" height="110">
            <div>
                <div style="max-height: 104px; -webkit-line-clamp: 4;">Python for Data Science and AI &nbsp;</div>
                <div style="max-height: 38px; -webkit-line-clamp: 2;">
                     <a href="https://www.credly.com/earner/earned/badge/e2ae0ccb-4236-4266-bb52-c5d0253561ac"
                    target="_blank">      Coursera
                </a></div>
            </div>
        </div>
    </div>


    <div class="certificate-earned">
        <div class=" ">
            <img src="https://images.credly.com/size/680x680/images/be8fcaeb-c769-4858-b567-ffaaa73ce8cf/image.png"
                width="110" alt="" height="110">
            <div>
                <div style="max-height: 104px; -webkit-line-clamp: 4;">Microsoft Certified: Azure Fundamentals&nbsp;
                </div>
                <div style="max-height: 38px; -webkit-line-clamp: 2;">
                    <a href="https://www.credly.com/badges/76f7e32c-0c64-4292-b812-264decf94e0f"
                    target="_blank">      Microsoft
                </a>
                </div>
            </div>
        </div>
    </div>


    <div class="certificate-earned">
        <div class=" ">
            <img src="https://images.credly.com/size/680x680/images/4136ced8-75d5-4afb-8677-40b6236e2672/azure-ai-fundamentals-600x600.png"
                width="110" alt="" height="110">
            <div>
                <div style="max-height: 104px; -webkit-line-clamp: 4;">Microsoft Certified: Azure AI Fundamentals&nbsp;
                </div>
                <div style="max-height: 38px; -webkit-line-clamp: 2;">
                    <a href="https://www.credly.com/badges/1517b20f-f2dd-4af5-a7d8-db40aa3467ee"
                    target="_blank">      
                    Microsoft
                </a>
                </div>
            </div>
        </div>
    </div>



</div>