<div class="container-fluid">

    <div class="row mt-2">
            <div class="col-md-2">
                    <div class="card">
                            <img src="../../assets/profile.jpg" class="card-img-top" alt="Senbagaraman Manoharan">
                            <div class="card-body">
                                Senbagaraman Manoharan
                            </div>
                          </div>
                </div>
            
            
                <div class="col-md-5">
                        Experienced Fullstack Developer working with technologies such as Java,Angular along with AWS. Eager to work in analytics 
                        domain and can narrow down on particular goal, excellent at juggling multiple tasks 
                        Past experience include working in .net MVC along with Octopus Deployments, Azure Devops and Sitecore 8.2 CMS 
                    </div>
            
            
            
                    <div class="col-md-5">
                        <div class="row">
                                <span class="material-icons">
                                        person
                                        </span>  
                                        <span class="ml-2">
                                                Senbagaraman Manoharan
                                        </span>
                        </div>

                        <div class="row">
                                <span class="material-icons">
                                        work
                                        </span>  
                                        <span class="ml-2 " style="color: teal;">
                                                Software Engineer  @ Siemens Technology and Services Pvt Ltd (2019 - Till date)
                                        </span>
                        </div>

                        <div class="row">
                                <span class="material-icons">
                                        work_off
                                        </span>  
                                        <span class="ml-2 " style="color: #8A0051;">
                                                Engineer  @ Mindtree Ltd (2017-2019)
                                        </span>
                        </div>

                        <div class="row">
                                <span class="material-icons">
                                        location_on
                                        </span>  
                                        <span class="ml-2 "  >
                                             Bengaluru, India
                                        </span>
                        </div>


                         
                      

                        </div>
            
    </div>




    </div>


    <hr>
