  <div class="wholeBody">
      <div class="personalPortfolio container mb-3">

          <div class="container-fluid row" style="justify-content: flex-end;">
                  
                          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                          <a class="navbar-brand" href="#">Senbagaraman M</a>
                                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                          </button>
                                          <div class="collapse navbar-collapse" id="navbarNav">
                                            <ul class="navbar-nav">
                                              <li class="nav-item active">
                                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link" href="#workExperience">Work Experience</a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link" href="#projectExperience">Projects</a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link disabled" href="#">Certifications</a>
                                              </li>
                                            </ul>
                                          </div>
                                        </nav>
          </div>
              <div class="row mt-5">
                      <div class="col-md-6">
                                           <img width="248" height="236"   class="img-responsive img-circle" src="../../assets/Senbagaraman_Manoharan.jpg" class="rounded-circle" alt="Cinque Terre">
                                  
                       </div>
                       <div class="col-md-6">
  
                          <h1>Hello,</h1> <br> <h4>a little intro about me : <br></h4>
                                  Experienced Fullstack Developer working with technologies such as Java,Angular along with AWS. Eager to work in analytics 
                                  domain and can narrow down on particular goal, excellent at juggling multiple tasks.<br>
                                  Past experience include working in .net MVC along with Octopus Deployments, Azure Devops and Sitecore 8.2 CMS 
                                  <br>
  
                       </div>
              </div>
              <hr>
      </div>
  
      
  
      <div class="workExperience container">
              <div class="container-fluid row">
                      <div class="col-md-6" id="workExperience">
                                  <i aria-hidden = "true" class="material-icons"> work </i>   <strong>Work Experience</strong>
                               <p style="color: teal"> Software Developer @ Siemens Technology and Services Pvt. Ltd. (Oct 2019-Till date) </p>   
                        
                                  <ul>
                                  
                                          <li> Involved in creation of components and web development for Energy Portfolio Application. </li>
                                          <li> Working experience with Spring Boot JAVA and Angular. </li>
                                          <li> Created and maintained independent components for web applications using Angular 8. </li>
                                          <li> Working knowledge of AWS S3 and EC2. </li>
                                          <li> Written Junit  for Java  and Karma Test for Angular, along with component development.  </li>
                                          <li> Ensured all the existing code practises are met in the development. </li>
                                          
                                  </ul>
                           
                         
                  </div>
                      <div class="col-md-6">
                                  <i aria-hidden = "true" class="material-icons"> work </i> <strong>Work Experience</strong>   <p style="color: #c50084;"> Engineer  @ Mindtree Ltd. (July 2017 - Oct 2019) </p>   
                                 
                           <br>
                                     <ul>
                                             <li> Working Experience with Sitecore 8.2/9.1 CMS. </li>
                                             <li> Working Experience with Jenkins, Maven and Git for CI/CD Process </li>
                                             <li> Experience with ASP.NET and C# Projects. </li>
                                             <li> Worked with projects handling HTML, ASP .NET, C# MVC,Nunit. </li>
                                             <li> Familiarity with Helix Structure and Habitat Frameworks. </li>
                                             <li> Experience in creating Sitecore components for a largest CPG client in US market. </li>
                                             <li> Ability to work with Sitecore WFFM forms </li>
                                             <li> Experience in working with Multisite Environments </li>
                                             <li> Experience in working with version control systems such has git and TFS.</li>
                                             <li> Experience in creating power-shell scripts for automated deployment in CI/CD environment. </li>
                                 
                                             <li> Experience in working with Octopus Deployment Server. </li>
  
                                             <li> Ensured smooth flow of Devops process in the Project with minimal build failures.</li>
  
                                             <li>  Worked closely with analytics team and helped in creating python scripts for data analysis and modelling.</li>
  
                                             <li>  Worked closely with clients in translation requirements and handed over the project on time.</li>
  
                                             <li> Familiarity with CSS preprocessor such as SASS and gulp.</li>
  
                                             <li> Created ad-hoc documents and approach documents for clients and maintained them throughout the project.</li>
  
                                             <li> Experience with Solr Search and their implementation. </li>
  
                                             <li> Handled a large Retail Client for their Russian market and helped them from requirement analysis till translation and project sign-off. </li>
  
                                             <li> Mentored new hires to better improve the competency and eﬃciency of all staﬀ.Has thorough understanding of Retail, Consumer Product and Manufacturing Industry Clients working nature and requirements. </li>
   
                                          </ul>         
 
                                  </div>
              </div>
      </div>
  
  
      <app-project-section></app-project-section>
      <br>
      
  </div>

  