<div class="wholeBody">
    <div class="personalPortfolio container mb-3">
  
      <div class="container-fluid row" style="justify-content: flex-end;">
  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Senbagaraman M</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#workExperience">Work Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projectExperience">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Certification">Certifications</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <img width="248" height="236" class="img-responsive img-circle profile-image" src="../../assets/senbagaraman.jpg"
            class="rounded-circle" alt="Cinque Terre">
  
        </div>
        <div class="col-md-6">
  
          <h1>Hello,</h1> <br>
          <h4>a little intro about me : <br></h4>
          Experienced Fullstack Developer working with technologies such as Java,Angular along with AWS. Eager to work in
          analytics
          domain and can narrow down on particular goal, excellent at juggling multiple tasks.<br>
          Past experience include working in .net MVC along with Octopus Deployments, Azure Devops and Sitecore 8.2 CMS
          <br>
  
        </div>
      </div>
      <hr>
    </div>
  
  
  
   
   <app-work-experience ></app-work-experience>
   <br>
  <app-projectsection></app-projectsection>
  <br>
  <app-certificationpart></app-certificationpart>
    
    <br>
  
  </div>
  