<div class="workExperience container">
    <div class="container-fluid row">
      <div class="col-md-6" id="workExperience">
        
<strong>Work Experience</strong>
        <p style="color: teal"> Software Developer @ Siemens Technology and Services Pvt. Ltd. (Oct 2019-Till date) </p>

        <ul>
          <li> Involved as a full stack developer in cloud operational asset management platform.</li>
          <li> Working experience with REST client based on both .net and Java.</li>
          <li> Familiarity with CSS preprocessor such as LESS and GULP.</li>
          <li> Working experience with Agile and Scrum methodology also worked with Lean.</li>
          <li> Introduced the coding guidelines to the projects, which were lagging the scope.</li>

          <section aria-labelledby=".netsection">
           
            <li> Worked in projects involving C# .net (ASP.net MVC) and Typescript.</li>
            <li> Migrated a full application from .net 2 to net 6</li>
            <li> Involved in the creation of a device speaking application using .net framework 4.7</li>
            <li> Working experience in Angular Material and Prime-ng. </li>
            <li> Working experience in Bootstrap. </li>
            <li> Have worked with webservers like cefsharp, embedded-io websocket.</li>
          </section>

          <section aria-labelledby="java">
            <li> Working in Java Spring boot along with Angular 12/14 technologies.</li>
            <li> Improved the unit test coverage to 80%.</li>            
            <li> Proficient in writing Junit Test cases.</li>
          </section>

          <section aria-labelledby="typescript">
            <li> Created reusable web components using Typescript.</li>
            <li> Working experience with projects having pure typescript as frontend.</li>
            <li> Part of the core development team which handles a Company Specific Typescript Framework.</li>
            <li> Involved in all parts of the project workflow for the framework.</li>
            <li> Experience in writing unit testcase with jasmine-karma.</li>
          </section>

          <section aria-labelledby="Devops">
            <li> Aware of the Devops process and suggested improvements.</li>
            <li> Working experience in Amazon S3 and Azure.</li>
          </section>

           
          <section aria-labelledby="others">
            <li> Worked as a Takt-speaker in rotational basis and ensured smooth working.</li>
            <li> Coordinated with all stakeholders and ensured delivery with minimal/no disruption.</li>
            <li> Integrated static code analyzer to the projects and ensured code-quality.</li>
            <li> Experience in working with diverse location teams with accurate coordination and helped to complete goals
              without spill-over.</li>
          </section>
  
        </ul>


      </div>
      <div class="col-md-6">
       <strong>Work Experience</strong>
        <p style="color: #c50084;"> Engineer @ Mindtree Ltd. (July 2017 - Oct 2019) </p>

        <br>
        <ul>
          <li> Working Experience with Sitecore 8.2/9.1 CMS. </li>
          <li> Working Experience with Jenkins, Maven and Git for CI/CD Process </li>
          <li> Experience with ASP.NET and C# Projects. </li>
          <li> Worked with projects handling HTML, ASP .NET, C# MVC,Nunit. </li>
          <li> Familiarity with Helix Structure and Habitat Frameworks. </li>
          <li> Experience in creating Sitecore components for a largest CPG client in US market. </li>
          <li> Ability to work with Sitecore WFFM forms </li>
          <li> Experience in working with Multisite Environments </li>
          <li> Experience in working with version control systems such has git and TFS.</li>
          <li> Experience in creating power-shell scripts for automated deployment in CI/CD environment. </li>

          <li> Experience in working with Octopus Deployment Server. </li>

          <li> Ensured smooth flow of Devops process in the Project with minimal build failures.</li>

          <li> Worked closely with analytics team and helped in creating python scripts for data analysis and modelling.
          </li>

          <li> Worked closely with clients in translation requirements and handed over the project on time.</li>

          <li> Familiarity with CSS preprocessor such as SASS and gulp.</li>

          <li> Created ad-hoc documents and approach documents for clients and maintained them throughout the project.
          </li>

          <li> Experience with Solr Search and their implementation. </li>

          <li> Handled a large Retail Client for their Russian market and helped them from requirement analysis till
            translation and project sign-off. </li>

          <li> Mentored new hires to better improve the competency and eﬃciency of all staﬀ.Has thorough understanding
            of Retail, Consumer Product and Manufacturing Industry Clients working nature and requirements. </li>

        </ul>

      </div>
    </div>
  </div>